/* Solarized Dark background and text colors with a dark green touch */
body {
    background-color: #014a5c; /* Solarized Dark base color */
    color: #839496; /* Solarized Dark text color */
}
h1, h2, h3, h4, h5, h6 {
    color: #5b6666; /* Solarized Dark heading color */
}
.stApp {
    background-color: #002b36; /* Solarized Dark base color */
}

/* Table customization */
.dataframe {
    background-color: #073642; /* Dark green touch */
    color: #839496; /* Solarized Dark text color */
}
.dataframe table {
    width: auto;
    table-layout: auto;
    background-color: #073642; /* Dark green touch */
}
.dataframe th {
    background-color: #586e75; /* Dark green touch */
    color: #839496; /* Solarized Dark text color */
    font-weight: bold;
    font-size: 10px;
}
.dataframe td {
    background-color: #073642; /* Dark green touch */
    color: #839496; /* Solarized Dark text color */
    font-size: 6px;
}
.dataframe td, .dataframe th {
    padding: 0.1rem;
}